<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzf.dao.MesOrderCustomerMapper">
  <resultMap id="BaseResultMap" type="com.hzf.model.Product" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_orderid" property="productOrderid" jdbcType="INTEGER" />
    <result column="product_planid" property="productPlanid" jdbcType="INTEGER" />
    <result column="product_targetweight" property="productTargetweight" jdbcType="REAL" />
    <result column="product_realweight" property="productRealweight" jdbcType="REAL" />
    <result column="product_leftweight" property="productLeftweight" jdbcType="REAL" />
    <result column="product_bakweight" property="productBakweight" jdbcType="REAL" />
    <result column="product_irontype" property="productIrontype" jdbcType="VARCHAR" />
    <result column="product_irontypeweight" property="productIrontypeweight" jdbcType="REAL" />
    <result column="product_materialname" property="productMaterialname" jdbcType="VARCHAR" />
    <result column="product_imgid" property="productImgid" jdbcType="VARCHAR" />
    <result column="product_materialsource" property="productMaterialsource" jdbcType="VARCHAR" />
    <result column="product_status" property="productStatus" jdbcType="INTEGER" />
    <result column="product_remark" property="productRemark" jdbcType="VARCHAR" />
    <result column="product_operator" property="productOperator" jdbcType="VARCHAR" />
    <result column="product_operate_time" property="productOperateTime" jdbcType="TIMESTAMP" />
    <result column="product_operate_ip" property="productOperateIp" jdbcType="VARCHAR" />
    <result column="Furnacenumber" property="furnacenumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, order_clientname, order_productname, order_contractid, order_imgid, 
    order_materialname, order_cometime, order_committime, order_inventorystatus, order_salestatus, 
    order_materialsource, order_hurrystatus, order_status, order_remark, order_operator, 
    order_operate_time, order_operate_ip
  </sql>
	
	<select id="getOrderCount" resultType="Long">
		SELECT
		COUNT( 1 )
		FROM
		mes_product
	</select>
	<!-- 
	WHERE
		oid IS NOT NULL and (oid like 'ZX%' or oid like 'zx%');
	 -->
	<select id="countBySearchDto" parameterType="map"
		resultType="int">
		SELECT count(1)
		FROM mes_product
		<include refid="queryConditions" />
	</select>
    <!-- 以下就是分页版块 -->
	<select id="getPageListBySearchDto" parameterType="map"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM mes_product
		<include refid="queryConditions" />
		ORDER BY product_operate_time DESC,id DESC
		limit #{page.offset}, #{page.pageSize}
	</select>
	
	<update id="batchStart" parameterType="list">
		  update mes_product set product_status=1
		  where 
		  id in
		  <foreach item="item" index="index" collection="list"
		      open="(" separator="," close=")">
		        #{item}
		  </foreach>
	</update>
	
	<!-- where：帮助你增加一个where拼接，解下来将第一个出现的and去掉 -->
	<sql id="queryConditions">
		<where>
			<if test="dto.search_status != null">
				AND product_status = #{dto.search_status}
			</if>
			<if test="dto.keyword != null and dto.keyword != ''">
				AND ((product_id like #{dto.keyword}) or (order_clientname like #{dto.keyword}) or
				(order_productname like #{dto.keyword}) or (order_contractid like
				#{dto.keyword})or (order_materialname like #{dto.keyword})or (order_materialsource like
				#{dto.keyword}) or (order_imgid like #{dto.keyword}))
			</if>
			<if test="dto.fromTime != null and dto.toTime != null">
				AND order_committime BETWEEN #{dto.fromTime} AND #{dto.toTime}
			</if>
		</where>
	</sql>
	
	<select id="selectByOrderId" parameterType="map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"></include> from mes_order
		where mes_order.order_id=#{orderid}
	</select>
</mapper>